.button {
  background-color: $color-blue-125;
  border: none;

  color: $color-white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
}

.button:hover {
  background-color: $color-blue-150;
}

.button:active {
  background-color: $color-blue-200;
  color: $opacity-white-30;
}

.button:disabled {
  background-color: $color-grey-190;
}
