.catalog-intro {
  text-align: center;
}

.catalog-intro__title {
  margin-top: 0;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    margin-bottom: 31px;
  }
}

.catalog-intro__description {
  margin-top: 0;
  margin-bottom: 0;
}

.catalog-intro .title {
  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}
