.city-reason-item {
  position: relative;

  @media (min-width: $tablet-width) {
    text-align: center;
    margin: 158px auto 38px auto;
  }

  @media (min-width: $desktop-width) {
    margin: 159px auto 58px auto;
  }
}

.city-reason-item br {
  @media (max-width: calc($tablet-width - 1px)) {
    display: none;
  }
}

.city-reason-item .title::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: calc($tablet-width - 1px)) {
    top: -8px;
    left: -48px;
  }

  @media (min-width: $tablet-width) {
    bottom: 153px;
    width: 75px;
    height: 75px;
  }
}

.city-reason-item--house .title::before {
  background-image: url("../img/icon-house.svg");

  @media (min-width: $tablet-width) {
    left: 57px;
    bottom: 160px;
  }

  @media (min-width: $desktop-width) {
    left: 111px;
    bottom: 140px;
  }
}

.city-reason-item--food .title::before {
  background-image: url("../img/icon-food.svg");
  left: -52px;
  top: -10px;

  @media (min-width: $tablet-width) {
    left: 57px;
    top: -100px;
  }

  @media (min-width: $desktop-width) {
    left: 112px;
  }
}

.city-reason-item--souvenir .title::before {
  background-image: url("../img/icon-souvenir.svg");

  @media (min-width: $tablet-width) {
    left: 57px;
    bottom: 160px;
  }

  @media (min-width: $desktop-width) {
    left: 111px;
    bottom: 140px;
  }
}

.city-reason-item--food .title {
  margin-bottom: 13px;
  transform: translateX(5px);

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
    transform: none;
  }
}

.city-reason-item--food .city-reason-item__description {
  margin-bottom: 25px;
  transform: translateX(5px);

  @media (min-width: $tablet-width) {
    transform: none;
  }
}

.city-reason-item__title {
  margin-top: 0;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.city-reason-item__description {
  margin-top: 0;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    width: 193px;
  }

  @media (min-width: $desktop-width) {
    width: 300px;
  }
}

.city-reason-item:last-child .city-reason-item__description {
  margin-bottom: 0;
}

.city-reason-item:last-child br {
  @media (max-width: calc($desktop-width - 1px)) {
    display: none;
  }
}
