.form-actions {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    width: 768px;
    margin: 0 auto 64px auto;
  }
}

.form-actions__submit {
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.form-actions__description {
  margin-top: 0;
  margin-bottom: 0;
  text-align: right;

  @media (min-width: $tablet-width) {
    align-self: center;
  }
}

.form-actions .button {
  display: block;
  width: 280px;
  padding-top: 18px;
  padding-bottom: 14px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}
