.intro {
  display: flex;
  flex-direction: column;
}

.intro__wrapper {
  order: 2;
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 520px;
  }

  @media (min-width: $desktop-width) {
    //width: 880px;
  }
}

.intro__wrapper.index-intro {
  padding-top: 32px;
  padding-bottom: 16px;

  @media (min-width: $tablet-width) {
    padding-top: 48px;
    padding-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 59px;
    padding-bottom: 45px;
  }
}

.intro__wrapper.review-intro {
  margin-top: 65px;
  margin-bottom: 60px;
}

.intro__wrapper.catalog-intro {
  margin-top: 35px;
  margin-bottom: 45px;
}

.intro__image-wrapper {
  background-color: $color-brown-700;
}

.intro__image {
  width: 320px;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}
