.intro {
  display: flex;
  flex-direction: column;
  max-width: 320px;
}

.intro__wrapper {
  order: 2;

  @media (min-width: $tablet-width) {
    width: 728px;
  }

  @media (min-width: $desktop-width) {
    width: 1160px;
  }
}

.intro__image {
  width: 320px;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}
