.item-photo {
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid $color-grey-225;

  @media (min-width: $tablet-width) {
    border-top: none;
    padding-top: 0;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    display: grid;
  }
}

.item-photo:nth-child(3) .item-photo__image-wrapper {
  background-color: $color-green-700;
}

.item-photo:last-child {
  border-bottom: 1px solid $color-grey-225;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }
}

.item-photo__image-wrapper {
  background-color: $color-red-200;

  @media (min-width: $desktop-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

.item-photo__information {
  margin-top: 15px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}
