.item-photo {
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid $color-grey-225;

  @media (min-width: $tablet-width) {
    border-top: none;
  }
}

.item-photo:nth-child(3) .item-photo__image-wrapper {
  background-color: $color-green-700;
}

.item-photo:last-child {
  border-bottom: 1px solid $color-grey-225;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }
}

.item-photo__image-wrapper {
  background-color: $color-red-200;
}
