.main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 17px;
  right: 20px;
  width: 23px;
  height: 4px;
  background-color: $color-blue-125;
  box-shadow: 0 9px 0 0 $color-blue-125, 0 18px 0 0 $color-blue-125;
}

.main-nav__toggle:hover::before {
  opacity: 0.6;
}

.main-nav__toggle:active::before {
  opacity: 0.3;
}

.main-nav__list {
  margin: 0;
  position: relative;
  top: -56px;
  margin-bottom: calc(-227px);

  @media (min-width: $tablet-width) {
    position: static;
    margin-bottom: 0;
  }
}

.main-nav--opened .main-nav__toggle {
  top: 0;
  right: 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 18px;
    width: 22px;
    height: 4px;
    background-color: $color-white;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav--opened .main-nav__toggle:hover {
  &::before,
  &::after {
    opacity: 0.6;
  }
}

.main-nav--opened .main-nav__toggle:active {
  &::before,
  &::after {
    opacity: 0.3;
  }
}

.main-nav--opened .nav-list {
  display: grid;
  z-index: 3;
}
