.main-content__form {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 648px;
  }

  @media (min-width: $desktop-width) {
    width: 960px;
  }
}

.main-content__video {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 648px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}

.main-content__photo {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 648px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}
