.map__wrapper {
  background-color: $color-brown-50;
  width: 320px;
  min-height: 350px;
  background-image: url("../img/map-mobile.png");
  background-repeat: no-repeat;
  object-fit: contain;
  background-position: 50% 50%;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map-mobile@2x.png");
    background-size: 320px auto;
  }

  @media (min-width: $tablet-width) {
    width: 768px;
    background-image: url("../img/map-tablet.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-tablet@2x.png");
      background-size: 768px auto;
    }
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    background-image: url("../img/map-desktop.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-desktop@2x.png");
      background-size: 1200px auto;
    }
  }
}
