.map__wrapper {
  background-color: $color-brpwn-50;
}

.map__image {
  width: 320px;
  min-height: 350px;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}
