.message {
  text-align: center;
}

.message__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message__title {
  margin-top: 0;
  margin-bottom: 20px;
}

.message__description {
  margin-top: 0;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }
}

.message .button {
  font-size: 18px;
  padding-top: 18px;
  padding-bottom: 14px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

.message--error {
  width: 320px;

  @media (min-width: $tablet-width) {
    width: 400px;
  }
}

.message--error .message__wrapper {
  padding: 45px 40px 35px 40px;

  @media (min-width: $tablet-width) {
    padding: 50px 45px 49px 45px;
  }
}

.message--error .button {
  width: 180px;

  @media (min-width: $tablet-width) {
    width: 272px;
  }
}

.message--error .title {
  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 40px;
  }
}

.message--error br {
  @media (max-width: calc($tablet-width - 1px)) {
    display: none;
  }
}

.message--success {
  width: 320px;

  @media (min-width: $tablet-width) {
    width: 640px;
  }
}

.message--success .message__wrapper {
  padding: 39px 40px 0 40px;


  @media (min-width: $tablet-width) {
    padding: 53px 110px 0 110px;
  }
}

.message--success .message__description {
  margin-bottom: 45px;
}

.message--success .button {
  width: 320px;
  border: 20px solid $color-grey-100;

  @media (min-width: $tablet-width) {
    width: 640px;
    border: 44px solid $color-grey-100;
    border-right-width: 91px;
    border-left-width: 91px;
  }
}

.message--success .title {
  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.message--success .message__title {
  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }
}
