.nav-list {
  padding: 0;
  list-style-type: none;
  display: grid;

  @media (max-width: calc($tablet-width - 1px)) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.nav-list__item:nth-child(3) {
  @media (min-width: $tablet-width) {
    grid-column-start: 4;
  }
}
