.radio .text-input {
  background-color: transparent;
}

.radio__input:hover + .radio-label::before {
  border-color: $color-grey-225;
  background-color: $color-grey-225;
}

.radio__input:active + .radio-label::before {
  border-color: $color-grey-300;
  background-color: $color-grey-300;
}

.radio__input:checked + .radio-label::before {
  background-color: $color-grey-700;
}

.radio__input:checked:active + .radio-label::before {
  background-color: $opacity-grey-30;
}
