.reason-item--large {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.reason-item--large .reason-container {
  background-color: $color-blue-125;
  margin-right: 0;
  margin-left: 0;
  padding: 39px 20px 40px 20px;
  color: $color-white;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 43px 35px 41px 35px;
  }

  @media (min-width: $desktop-width) {
    padding: 51px 85px 53px 85px;
  }
}

.reason-item--large:first-of-type .reason-container {
  padding-top: 64px;

  @media (max-width: calc($tablet-width - 1px)) {
    background-image: url("../img/intro-text-back-mobile.svg");
    background-repeat: no-repeat;
    background-position: top center;
  }

  @media (min-width: $tablet-width) {
    padding: 40px 30px 44px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 47px 60px 57px 60px;
  }
}

.reason-item--large:nth-of-type(2) .reason-item__text-wrapper {
  order: 2;
}

.reason-item .reason-item__title {
  margin-top: 0;
  margin-bottom: 11px;
}

.reason-item .reason-item__description {
  margin-top: 0;
  margin-bottom: 17px;
}

.reason-item .reason-item__description:last-child {
  margin-bottom: 0;
}


.reason-item:not(.reason-item--large) {
  background-color: $color-grey-150;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-right: 0;
    padding-left: 0;
  }
}

.reason-item:not(.reason-item--large) .reason-container {
  padding-top: 26px;
  padding-bottom: 24px;

  @media (min-width: $tablet-width) {
    padding: 42px 55px 41px 55px;
  }

  @media (min-width: $desktop-width) {
    padding: 42px 63px 60px 63px;
  }
}

.reason-item:not(.reason-item--large):not(:last-child) .reason-container {
  border-bottom: 1px solid $color-grey-275;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }
}

.reason-item--large + .reason-item:not(.reason-item--large) .reason-container {
  @media (min-width: $tablet-width) {
    padding-right: 25px;
    padding-left: 25px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 45px;
    padding-left: 45px;
  }
}

.reason-item__image-wrapper {
  width: 320px;
  background-color: $color-red-200;

  @media (min-width: $tablet-width) {
    width: 512px;
    grid-column: span 2;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}

.reason-item__inner-list {
  @media (min-width: $tablet-width) {
    grid-column: span 3;
  }
}
