.text-input {
  font-family: "PT Sans", "Arial", sans-serif;
  border: none;
  background-color: $color-grey-100;
  color: $color-black;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
  box-sizing: border-box;
}

.text-input:hover {
  background-color: $color-grey-225;
}

.text-input:focus {
  background-color: $color-white;
  outline: 4px solid $color-grey-225;
}
