.video {
  display: grid;
  text-align: center;
}

.video__text-wrapper {
  margin: 17px auto 38px auto;
  width: 260px;

  @media (min-width: $tablet-width) {
    margin-top: 58px;
    margin-bottom: 90px;
    width: 445px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 62px;
    margin-bottom: 85px;
  }
}

.video__player {
  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
  }
}

.video__title {
  margin-top: 0;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    margin-bottom: 33px;
  }
}

.video__description {
  margin-top: 0;
  margin-bottom: 0;
}

.video .title {
  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}
