.video {
  display: grid;
}

.video__text-wrapper {
  @media (min-width: $tablet-width) {
    margin-top: 58px;
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 62px;
    margin-bottom: 70px;
  }
}

.video__player {
  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
  }
}
